
<%- include ('../partials/header.ejs') %>

<div class="LoginForm">
	<a href="/logout" class="logOut"><h2>Logout</h2></a>
	<div class="custontable">
		<h2>Cadastrados</h2>  
			<table class="table">
				<thead>
					<tr> 
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<% users.forEach(user => { %>
						<tr>
							<td><%= user.email %></td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
</div>