
<%- include ('../partials/header.ejs') %>

<section class="LoginForm" id="contact">
   
    <a href="/login" class="logout"><h2>Retornar</h2></a>
    <form action="/forgotpassword" method="POST" class="loginform">
      <h1 class="heading">Recuperar a senha</h1>
      <label for="email" class="head">Email:</label>
      <input type="email" id="email" placeholder="email" class="box" required name="email">
      <input type="submit" id="my-form-button" value="Avançar">
      <div id="my-form-status" class="inf_status"></div>
   </form>
   <h3>Novo cadastro <a href="/users/create"><span>aqui</span></a></h3>
</section>

<% if (resetagain) { %>
   <script>
       alert("O token de validação expirou. Faça uma nova solicitação.");
   </script>
<% } %>