
<%- include ('../partials/header.ejs') %>

<section class="LoginForm" id="contact">
   
    <a href="/login" class="logout"><h2>Retornar</h2></a>
    <form action="/resetpassword" method="POST" class="loginform">
      <h1 class="heading">Crie uma nova senha</h1>
      <label for="password" class="head">Password:</label>
      <input type="password" id="password" name="password" placeholder="*******" class="box" required>

      <input type="hidden" name="resetToken" value="<%= resetToken %>">
      <input type="hidden" name="email" value="<%= email %>">

      <input type="submit" id="my-form-button" value="Salvar">
      <div id="my-form-status" class="inf_status"></div>
   </form>
</section>
